apiVersion: v1
kind: Namespace
metadata:
  name: scenario-pod-basic
---
apiVersion: v1
kind: Pod
metadata:
  name: nginx
  namespace: scenario-pod-basic
  labels:
    app: nginx
    scenario: pod-basic
spec:
  containers:
  - name: nginx
    image: nginx:1.25-alpine
    ports:
    - containerPort: 80
    resources:
      requests:
        cpu: 10m
        memory: 32Mi
      limits:
        cpu: 100m
        memory: 64Mi
    readinessProbe:
      httpGet:
        path: /
        port: 80
      initialDelaySeconds: 5
      periodSeconds: 5
