apiVersion: v1
kind: Namespace
metadata:
  name: scenario-workload-id
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: azure-access
  namespace: scenario-workload-id
  annotations:
    azure.workload.identity/client-id: ${AZURE_CLIENT_ID}
  labels:
    azure.workload.identity/use: "true"
---
apiVersion: v1
kind: Pod
metadata:
  name: azure-client
  namespace: scenario-workload-id
  labels:
    azure.workload.identity/use: "true"
spec:
  serviceAccountName: azure-access
  containers:
    - name: azure-cli
      image: mcr.microsoft.com/azure-cli:2.55.0
      command: ["sleep", "3600"]
