apiVersion: v1
kind: Namespace
metadata:
  name: scenario-job
---
apiVersion: batch/v1
kind: Job
metadata:
  name: pi
  namespace: scenario-job
spec:
  template:
    spec:
      containers:
        - name: pi
          image: perl:5.38
          command: ["perl", "-Mbignum=bpi", "-wle", "print bpi(100)"]
          resources:
            requests:
              cpu: 100m
              memory: 64Mi
            limits:
              cpu: 500m
              memory: 128Mi
      restartPolicy: Never
  backoffLimit: 2
